.jumbotron{
	padding:70px 30px 70px 30px;
    margin:0px auto;
	background-color: #9575CD;
	color: floralwhite;
}
.footer{
	background-color: #D1C4E9;
}

.history{
	margin: 50px auto;
	padding: 20px 0px 20px 0px;
	border-bottom-color: #ecebed;
	border-bottom-width: 1px;
	border-bottom-style: solid; 
}

.cl{
	margin: 50px auto;
	padding: 20px 0px 20px 0px;
}
.foot{
	margin: 10px auto;
	padding: 20px 0 20px 0;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}